../../../../../.android/
        ../../../../../.angular-config.json
        ../../../../../.bash_history
        ../../../../../.boto
        ../../../../../.cargo/
        ../../../../../.config/
        ../../../../../.emulator_console_auth_token
        ../../../../../.gitconfig
        ../../../../../.gsutil/
        ../../../../../.lesshst
        ../../../../../.rustup/
        ../../../../../.vscode/
        ../../../../../3D Objects/
        ../../../../../Aikikainic/
        ../../../../../AppData/
        ../../../../../Button/
        ../../../../../Characte counter/
        ../../../../../Contacts/
        ../../../../../Creative Cloud Files/
        ../../../../../Digital Clock/
        ../../../../../Downloads/
        ../../../../../Drum-kits/
        ../../../../../Favorites/
        ../../../../../IntelGraphicsProfiles/
        ../../../../../Links/
        ../../../../../Logo de Angular/
        ../../../../../Mi primera pagina/
        ../../../../../Multiplication App/
        ../../../../../Music/
        ../../../../../NTUSER.DAT
        ../../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../../../../../Norman.css
        ../../../../
        ../../../../../Rust_Fundamental/
        ../../../../../Rust_Fundamental1/
        ../../../../../Saved Games/
        ../../../../../Searches/
        ../../../../../Tab-project/
        ../../../../../Tracing/
        ../../../../../Typescript/
        ../../../../../Videos/
        ../../../../../contact.html
        ../../../../../image-effect/
        ../../../../../index2.js
        ../../../../../index3.html
        ../../../../../index5.html
        ../../../../../learn.js
        ../../../../../learn.ts
        ../../../../../modal1/
        ../../../../../mydream/
        ../../../../../myfirstcrud/
        ../../../../../myprojects/
        ../../../../../node_modules/
        ../../../../../norman.html
        ../../../../../ntuser.dat.LOG1
        ../../../../../ntuser.dat.LOG2
        ../../../../../ntuser.ini
        ../../../../../package-lock.json
        ../../../../../package.json
        ../../../../../sticky-navbar/
        ../../../../../testcard/
